@media only screen and (max-width: 800px) {
  #hamburger {
    display: inline;
  }
  #ce {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  #hamburger {
    display: none;
  }
  #ce {
    display: block;
  }
}
  footer{
    background-color: lightblue;
    height: 80px;
  }
  main {
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
  }
  #cevapi {
    background-color: #f8f9fa;
  }
  .nav-link {
    font-family: fantasy;
  }
  h2  {
    padding-top: 50px;
    height: 100px;
  }
  #foot{
    font-size: 8px;
  }
  p::first-letter {
    color: red;
  }
  a:hover {
    background-color: lightblue;
  }
  table, th {
    border: 1px solid blue;
  }
